.navbar{
    background-color: rgb(30, 30, 30);
    z-index: 1;
}
.navbar ul li a{
    color: white;
}
.navbar ul li .active{
    border-bottom: 3px solid white;
}
.navbar ul li a:hover{
    border-bottom: 3px solid white;
    transition: 0.1s ease-in;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 85px;
    background: url(../assets/default-background.svg) no-repeat;
    background-size: cover;
    background-color: #F8F8F8;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}
.text h1{
    font-size: 52px;
    font-weight: 700;
    margin-left: 50%;
    margin-bottom: 1%;
}
.text h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1%;
    margin-left: 50%;
}
.text p{
    font-size: 18px;
    margin-left: 50%;
}
.text a{
    text-decoration: none;
    color: red;
}

.iframe{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
}
.iframe iframe{
    margin-left: 5%;
}